header {
  /* background: blue; */
  padding: 0px 60px !important;
  height: 82px;
  /* box-shadow: 1px 1px 2px 2px #ccc; */
}
nav img {
  width: 32px;
}

.banner-container {
  padding: 0 143.5px;
}

.form-container {
  border: 3px solid #000;
}
.content-container {
  padding: 0 411px;
}
.second-container {
  padding: 0 311px;
}

footer {
  padding: 0 411px !important;
}

.footer-brand img {
  width: 28px;
}
